[2013-11-05 11:57] rentorm opened #7 "jQuery based replacement for select boxes"
Hi gents,

Great framework you have created, well done!

I've got an idea I would like to share. Recently working on complex multiselect form field structure I came across nice jQuery based replacement. I think this would be great addition to this framework.

Select2 is a jQuery based replacement for select boxes. It supports searching, remote data sets, and infinite scrolling of results.
http://i

[2013-11-05 12:06] #7 closed, assigned to nobody

[2013-12-11 12:36] mrmartineau opened #8 "test issue"
this is a test

[2013-12-13 15:43] #8 closed, assigned to nobody

[2013-12-22 20:16] minskster opened #9 "Demo page. Text crossed with icons."
Text and icons mixed on the examples page http://tmwagency.github.io/kickoff/demos/index.html
Could you look at
![kickoff](https://f.cloud.github.com/assets/4759947/1798355/81041d6e-6b44-11e3-91c3-c4e899178cac.png)

![kickoff_ie](https://f.cloud.github.com/assets/4759947/1798361/d5862e4e-6b45-11e3-99d2-bff313dd3ea8.png)

Windows 7. Last google chrome. Version 31.0.1650.63 m and IE10
Screen resolut

[2013-12-23 13:16] #9 closed, assigned to nobody

[2014-02-13 11:02] tommaton opened #12 "Fix to class name in utilities.scss"
The class name in utilities.scss

[code]

is spelt incorrectly, it should be

[code]

[2014-02-14 09:59] #12 closed, assigned to nobody

[2014-02-24 09:59] nicbell opened #13 "Input background"
Line 115 of _forms.scss should be

background-color: $input-background;

Because it is settable in the colour palette.

[2014-02-26 11:33] #13 closed, assigned to nobody

[2014-03-20 10:57] nicbell opened #15 "All offset columns are generated as "g-offset1""
It looks like all offsets are being generated as `g-offset1`.
The bug is on [line 121 of  _choreographic-grid.scs](https://github.com/tmwagency/kickoff/blob/master/scss/partials/components/_choreographic-grid.scss#L121)
`.g-row > .g-offset1 {` the '1' should be dynamic.

This is the current output.

[code]

[2014-06-10 15:36] mrmartineau opened #22 "Add some performance tests to grunt"
Things like PSI: http://updates.html5rocks.com/2014/06/Automating-Web-Performance-Measurement

I'm sure there are more but this one looks good.

/cc @ashleynolan @CiaranPark @bardius @nicbell

[2014-06-10 15:41] mrmartineau opened #23 "Update forms"
Improve the default form input styles, have seen http://wtfforms.com/ & http://lifes.gd/slice.

Also need to have multiple column support, perhaps we can tie this into the grid or create something new.
- [x] Multiple columns for inputs
- [ ] Input with button attached

What do you think?

/cc @ashleynolan @nicbell @CiaranPark @bardius

[2014-06-10 15:42] mrmartineau opened #24 "Split Grunt configs into separate files"
Have already started this at https://github.com/tmwagency/kickoff/tree/gruntconfig

Is this worthwhile?

[2014-06-10 15:47] mrmartineau opened #25 "Improve the grid"
The choreographic grid needs updating, it could be simplified and improved

/cc @nicbell

[2014-06-10 15:56] mrmartineau opened #26 "Sass components"
I've been thinking about adding some more sass components, these could be simple like we have already or more involved like the off-canvas/drawer navigation, with JS included etc.

Are there any that you'd like to include?

/cc @ashleynolan @CiaranPark @nicbell

[2014-06-10 15:59] mrmartineau opened #27 "Restyle scrollbars"
This might seem frivolous but I think it would be good to provide our own styling for scrollbars. Slack has done this and I think it looks great. Thoughts?

/cc @ashleynolan @CiaranPark

[2014-06-10 16:07] mrmartineau opened #28 "Improve the default javascript setup"
I would like to revisit the default js setup, we have been using Browserify for much of our work at TMW, should that be used by default?
- What should we include by default? (shims, plugins etc)
- Should we use bower for all external dependencies?
- Should we use the [UMD](https://github.com/umdjs/umd) style for all modules?

/cc @munkychop @ashleynolan @nicbell @CiaranPark @bardius

[2014-06-16 16:33] mrmartineau opened #29 "Getting started with Kickoff"
I have created a very basic checklist-style page to help new users to Kickoff get started.. (that was a mouth-full). I'd like some feedback from people familiar with the project.

Please ignore the design for now, but could @nicbell, @ashleynolan, @bardius and @tommaton spare some time to check it out?

The easiest way to view it is to [download Kickoff](https://github.com/tmwagency/kickoff/archiv

[2014-06-17 09:00] mrmartineau opened #30 "Bower workflow"
I'd like to integrate Bower into Kickoff in a more seamless way. Historically I would `bower install whatever` and then just add the file to the `<%=config.js.fileList%>` array in the Gruntfile config. Is this the best way to handle bower dependencies?

There are [some Grunt plugins](https://www.npmjs.org/package/grunt-bower) that move the bower dependencies to another folder, out of the `bower_co

[2014-06-17 10:37] mrmartineau opened #31 "Switch cookies plugin"
I think we should remove the `js/helpers/cookies.js` for a better lib. I have seen a few on bower that look good, they are:
- https://github.com/ScottHamper/Cookies
- https://github.com/js-coder/cookie.js

Have you guys used them or tried any others?

Removing our cookie lib would make the framework even more lightweight and promote the use of bower.

/cc @ashleynolan @tommaton @munkychop

[2014-07-10 16:47] #26 closed, assigned to nobody

[2014-07-10 16:49] #31 closed, assigned to nobody

[2014-07-10 16:50] #24 closed, assigned to mrmartineau

[2014-07-10 16:51] #27 closed, assigned to nobody

[2014-07-10 16:57] #30 closed, assigned to nobody

[2014-07-10 17:00] #25 closed, assigned to nobody

[2014-07-10 17:03] #15 closed, assigned to nobody

[2014-07-10 17:08] mrmartineau opened #32 "Update Kickoff docs site"
- [x] Switch scss with new version
- [x] Update all new features
- [x] Revisit documentation for each feature
- [x] Improve 'getting started' page, possibly a getting started screencast
- [ ] Add a blog

[2014-08-24 06:58] FavFabz opened #33 "After following all the steps I get this error ."
DEPRECATION WARNING: Passing --sourcemap without a value is deprecated.
Sourcemaps are now generated by default, so this flag has no effect.
DEPRECATION WARNING: Passing --sourcemap without a value is deprecated.
Sourcemaps are now generated by default, so this flag has no effect.
Error: File to import not found or unreadable: functions/compact.
       Load path: /Users/fabz/Dropbox/fabzelaida/FAB

[2014-08-24 21:23] #33 closed, assigned to nobody

[2014-09-05 08:06] ashleynolan opened #35 "Add HTML Validation Task"
Would be cool to add HTML Validation as a separate task in grunt.

Thinking this shouldn’t run on watch, but perhaps we should consider creating a test set of tasks and add it to that, leaving us scope to add JS testing tasks at a later date.

This grunt plugin looks like it should do the job https://www.npmjs.org/package/grunt-html-validation

[2014-09-05 09:52] tommaton opened #36 "Add grunt-uncss task to remove wanted CSS classes"
Would be nice to use grunt-uncss (https://www.npmjs.org/package/grunt-uncss) to remove all unnecessary CSS classes to make it even more lightweight.

I've used it on a couple of sites with great success, the latest compiled Kickoff framework CSS from 89.43kb --> 44.76kb

[2014-09-24 15:21] #23 closed, assigned to nobody

[2014-11-11 14:54] #32 closed, assigned to mrmartineau

[2014-11-11 14:55] #29 closed, assigned to nobody

[2014-11-11 14:55] #28 closed, assigned to nobody

[2014-11-28 04:35] metavoid opened #39 "Invalid links on demos page"
Hello! I've found a bug on the page http://tmwagency.github.io/kickoff/demos/ . Links under 'Guide to Kickoffs demos' header lead to wrong URL's, I get 404 error. Href attribute duplicate '/kickoff/demos/' part of url,so they lead, for example, to 'http://tmwagency.github.io/kickoff/demos/kickoff/demos/typography.html' instead of 'http://tmwagency.github.io/kickoff/demos/typography.html'. Maybe it

[2014-11-28 06:44] #39 closed, assigned to nobody

[2014-12-17 15:49] chonz0 opened #40 "Bad link to "Getting started" on /kickoff/demos"
In the second paragraph in http://tmwagency.github.io/kickoff/demos/, the link to "Getting Started" points to "http://0.0.0.0:8000/kickoff/learn/"

[2014-12-17 16:10] #40 closed, assigned to nobody

[2015-01-21 12:07] CREEATION opened #41 "Documentation: "for" values are all the same"
Hello,

the "for" values for the inputs at http://tmwagency.github.io/kickoff/demos/forms.html are all the same, for example `for="text"`, which results in jumping all the way to the top of the first input where it got declared.

Thomas

[2015-01-21 14:07] ashleynolan commented on #41
Thanks for this Thomas – I’ll take a look into that now.

[2015-01-21 14:21] #41 closed

[2015-01-21 14:35] mrmartineau commented on #41
Thanks for notifying us @CREEATION. How are you getting on with Kickoff?

[2015-01-21 15:22] CREEATION commented on #41
Thanks for the fast update!
@mrmartineau I didn't download it yet, but it looked promising so I was walking through the documentation to get a feel of how it works. Testing it later :)

[2015-01-21 15:50] mrmartineau commented on #41
Cool, if you need any help, please let us know. Kickoff also has a Twitter account for news & any questions: [@TMWKickoff](https://twitter.com/TMWKickoff) :+1:

[2015-03-18 11:23] ashleynolan opened #44 "Functions and mixins imports should be above the variables and color-palette imports in the styleguide.scss"
Need to switch the order around as otherwise the variables and color-palette files cannot use any of the functions and mixins if needed.

https://github.com/tmwagency/kickoff/blob/master/scss/styleguide.scss

[2015-03-18 11:25] ashleynolan opened #45 "Should round up the value of the typography scale values in variables by using ceil"
The values produced by the modular scale for type should be rounded up so that the pixel equivalents are whole numbers, rather than to 3 or 4 dp as some of them are calculated.  Makes the compiled CSS much more standard.

https://github.com/tmwagency/kickoff/blob/master/scss/_variables.scss#L30

[2015-03-18 11:32] ashleynolan opened #46 "Reconsider the structure of specific color variables in Kickoff"
Having been using Kickoff for more minimal sites lately, I’ve found that it can be a bit of a chore when removing parts that are not needed to not simply be able to remove the specific scss from the dependencies.scss and not be left with any artifacts anywhere else.

However, you then also have to go into color-palette.scss and variables.scss and remove variables specific to these features.

As a

[2015-03-18 11:47] ashleynolan opened #47 "Using multiple grunt tasks at start of project setup"
I’ve found it a little tricky in terms of when starting a project and using the styleguide along-side the setup docs and statix build (when using the generator).

For example, if I run grunt start, and then immediately try and run grunt styleguide, it cannot serve up the styleguide via grunt-connect because the ports it requires to do so are already in use by the earlier started grunt connect task

[2015-03-21 07:50] mrmartineau opened #48 "Styleguide updates and improvements"
As part of the next slew of updates, I want to improve the styleguide. As #47 mentions, it is currently a little confusing to use the styleguide, and maintain it, while working on a project.

My tasks at the moment are:

- [x] Improve the styleguide’s design
- [ ] Use [Statix](http://tmwagency.github.io/kickoff/statix/) to manage the styleguide - this should make it easier to develop allowing devs

[2015-03-21 07:52] mrmartineau opened #49 "Next major version"
Please could you put any items you'd like to have in the next major version of Kickoff, whether it be v4.2.0 or v5.0.0. We can then work out a roadmap for releasing the new features.

/cc @ashleynolan

[2015-03-21 07:55] mrmartineau commented on #49
#### Styleguide improvements
See #48

#### UX improved for the entire framework
This is a fairly large piece of work that extends out to the Yeoman generator & Statix. I would like to make it much more intuitive to use the framework. Code and configuration should be easy to find.

[2015-03-21 08:03] mrmartineau commented on #47
I am adding this here as we have already discussed this matter. Styleguide sass compilation will be added to the existing `grunt watch` task so that whenever any project styles are changed, the styleguide is updated too – this would slow down compilation and style updates (when using browserSync or LiveReload) but at least it would always keep the styleguide up-to-date.

Running `grunt start` is u

[2015-03-21 08:06] mrmartineau commented on #46
I like this idea. It seems logical to move component vars into their own files.

[2015-03-21 08:17] mrmartineau commented on #45
I have never found this to be an issue before but I think it is a good idea. The font-sizes are generated using our [modular scale function](https://github.com/tmwagency/kickoff/blob/master/scss/functions/_modular-scale.scss) so we'd just need to tweak that to get the desired output.

I think we'd just need to change [this line](https://github.com/tmwagency/kickoff/blob/master/scss/functions/_modu

[2015-03-21 08:20] mrmartineau commented on #44
Do the variables and color palette files need access to the mixins/functions? Maybe the variables need the modular scale function, is that it?

[2015-03-23 09:40] ashleynolan commented on #48
I like the idea of code snippets, but think they should only be included if it can be easily maintained.

Could be something we play around with with the next round of improvements though for sure.

[2015-03-23 09:41] ashleynolan commented on #44
Not from the start, but if you add code into the variables that require a mixin/function the compilation subsequently breaks.  Switching the order resolves this.

I’ll update this now as it’s a simple task.

[2015-03-23 09:43] #44 closed

[2015-03-23 23:23] mrmartineau commented on #48
perhaps the styleguide resides in its own repo then is integrated into the generator. That means the base framework is much more simple...

[2015-03-24 10:29] ashleynolan commented on #48
I do think there should be a styleguide in Kickoff’s base, as it is an important part of any project, and so remving it seems counter-intuitive for those not using the generator.

Maybe we need to just sketch out the workflow of this to work out how it best sits and can be maintained alongside the rest of the framework?

[2015-04-06 12:08] mrmartineau commented on #49
@ashleynolan I have been using [gulp](http://gulpjs.com) a lot on some personal projects and feel that it could benefit Kickoff. If I could get the exact same functionality as we have with Grunt, but use gulp instead, would you consider it?

[2015-04-07 09:52] nicbell commented on #49
What does Gulp do better?

Have you considered including a minimal grunt or gulp file and just having what is needed to build Kickoff. A lot of what is included in Kickoff's grunt config is workflow/project specific.

For example I strip browser-sync, connect and jquery-builder straight away and add githooks. That prescribed workflow is not relevant when Kickoff's purpose is a SASS framework, mayb

[2015-04-07 10:14] ashleynolan commented on #49
Would be worth going through the benefits of switching.

I don’t really mind either way if there’s a good use-case for it and it can do everything that Grunt can.  If we do switch, it would be a shame to lose the grunt setup work, so maybe would be good to consider how we could keep that, even if we no longer really update those files in future.

Let’s chat about when you get back from holiday.

[2015-04-08 10:44] mrmartineau commented on #49
Gulp is very similar but I have found it to be much easier to use whilst also being more powerful. I have started a [next-gulp](https://github.com/tmwagency/kickoff/tree/next-gulp) branch and am in the process of converting all Grunt tasks to gulp tasks. See the example gulpfile [here](https://github.com/tmwagency/kickoff/blob/next-gulp/gulpfile.js).

I have also had problems recently with sourcem

[2015-04-08 11:14] mrmartineau commented on #49
I have also added a flag (variable) for when the site is in production and you need to minify everything. See https://github.com/tmwagency/kickoff/blob/next-gulp/gulpfile.js#L33. It negates the need for separate tasks like `grunt dev` & `grunt deploy`. As @munkychop mentioned, this could actually be an environment variable or another setting in your CI setup..

[2015-04-08 12:01] nicbell commented on #49
Also, is it worth considering just using npm scripts? It will mean better access to plugins.

http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/
http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/
https://blog.cesarandreu.com/posts/give_npm_scripts_a_chance

[2015-04-08 13:01] mrmartineau commented on #49
While I think npm scripts might be a good way to run tasks, with certainly more options available to it, I do not think using it will be as beneficial as using Grunt or gulp purely because they are both extremely well documented and have massive developer support.

[2015-04-13 13:50] mrmartineau commented on #48
Should it be based on Statix? I think it will make it much easier to maintain but will probably be harder for most users to use as its not a simple html file anymore.. Opinions? / @nicbell @munkychop

[2015-04-13 13:59] mrmartineau commented on #48
More examples can be found at http://styleguides.io/examples.html

[2015-04-13 14:50] mrmartineau commented on #49
I thought I would post an update on my progress.

### gulp
I have spent a fair amount of time on the `next-gulp` branch and have come to the conclusion that we shouldn't switch to gulp yet. While gulp provides many benefits over Grunt, they are not substantial enough for us to make the switch at the moment. One of the main issues I found is that there is no comparable task for Grunticon; I know Fi

[2015-04-13 14:56] ashleynolan commented on #49
All look good.

As for the JavaScript, I think it should still be an optional branch.  Advanced users should ideally be using the generator, and then it’s pretty much included anyway with a Y/N switch.

[2015-04-13 14:57] mrmartineau commented on #49
@ashleynolan good point. We should push most users to make use of the generator.

[2015-04-13 15:01] ashleynolan commented on #48
I think it should be whatever we think is easier to get to grips with and maintain.

Maintenance is the number 1 issue with a style guide, above anything else.  I think it probably does make sense to use Statix, simply as it may then mean that there is much less overhead needed if it can be set up in the right way.

[2015-04-15 08:38] nicbell commented on #49
I like Browserify + npm but does it have everything that bower has?

[2015-04-15 08:50] mrmartineau commented on #49
it probably doesn't have everything bower has but if you're using Browserify then you're going to need the script to use `module.exports` otherwise Browserify won't work, no? Also you can place bower packages in the `npm_modules` folder & require them using the normal procedure. Its a bit dirty but it does work. Most worthwhile packages are on npm IMHO.

[2015-04-15 14:06] munkychop commented on #49
It's possible to use [debowerify](https://www.npmjs.com/package/debowerify) as a Browserify transform for Bower packages that aren't CJS compatible. If the Bower packages are CJS compatible then they can either be `require`'d directly or shimmed.

[2015-05-07 11:16] mrmartineau opened #51 "Remove some styles"
I would like to remove a few styles from Kickoff. Horizontal definition lists, some nav list styles and some other things.. I don't think they're useful to Kickoff's core.. do you agree @ashleynolan @nicbell?

Here's the sauce:

## Horizontal Definition list
[code]

## Nav styles
We could keep `.unstyled` but remove `nav ul` & `nav ol`...
[code]

# Blockquote
[code]

## Address
[code]

## Close Bu

[2015-05-07 11:18] mrmartineau commented on #47
FYI in Kickoff v5.0.0 you will need to run `npm run kickoff` which installs npm dependencies & shows the checklist at http://trykickoff.github.io/learn/checklist.html

[2015-05-07 11:18] #47 closed

[2015-05-07 11:19] #46 closed

[2015-05-07 11:21] #22 closed

[2015-05-07 11:32] ashleynolan commented on #51
Definitely agree with removing the close button, address, and horizontal dl styling.  Agree with keeping the unstyled list class and getting rid of the nav ul/ol selector too – can simply put the unstyled class on these elements if you need that styling that way.

Blockquote I’m not sure about whether we should remove – it’s quite a useful thing to have as it’s often used on sites.  Any reason in

[2015-05-07 11:43] mrmartineau commented on #51
Thanks @ashleynolan, I felt that the blockquote is not useful enough to keep. It is one of those things that would change on almost every project & not integral to the framework. I don't mind keeping it, just wanted to gauge opinions.

I'll remove the others.

[2015-05-08 09:30] mrmartineau commented on #51
After thinking about it some more, I'd like to remove some more of the button styles:

## Large, Small, Pill, Block & Natural Buttons
I just don't think that they're used often enough. Perhaps the `.btn--block` could stay but I'm fairly certain the rest can be safely removed.

[code]

What do you think?

[2015-05-11 11:28] mrmartineau commented on #51
I removed `.btn--large`, `.btn--small`, `.btn--pill` & `.btn--natural` but kept `.btn--block`

[2015-05-11 11:28] #51 closed

[2015-05-11 11:46] mrmartineau commented on #45
@ashleynolan I tried a quick test for this, see it at http://quick.as/vmr4cq8yw & let me know if you think it is acceptable.

[2015-05-12 08:27] ashleynolan commented on #45
Looks good to me :)

[2015-05-12 16:30] ashleynolan commented on #35
Just to let you know, I’ve started working on this to try and get it into the v5 build.

Don’t think it should take too long, so will carry on with this and the Statix updates tomorrow.

[2015-05-14 14:23] ashleynolan commented on #35
This is now implemented ready for v5 release.

[2015-05-14 14:23] #35 closed

[2015-05-19 11:04] ashleynolan commented on #45
Closing as fixed from previous commit

[2015-05-19 11:04] #45 closed

[2015-05-19 16:46] #49 closed

[2015-05-19 16:46] #48 closed

[2015-05-20 09:39] ashleynolan opened #52 "Adding a JS Test Framework to Kickoff"
It’s long been a goal to integrate some kind of JS test framework into Kickoff.

Obviously, this could be quite rocky ground, as there are lots of different options out there and I think this will be where the generator will definitely come in handy for including/excluding testing from potential setups.

If we do implement this, should it be as a feature branch – like the Browserify setup – that w

[2015-05-20 12:55] nicbell commented on #52
I like Mocha but is I use tend to used Kickoff as SASS framework only.

[2015-05-20 15:52] munkychop commented on #52
IMO it seems like there isn't really anything to test, as the generated JS is pretty skeletal, so it seems a bit overkill to add a test framework.

[2015-05-20 15:54] ashleynolan commented on #52
@munkychop it’s more so that when people add their own modules, they don’t have to set anything up testing-wise, as the grunt structure is already in place.

[2015-05-20 15:58] munkychop commented on #52
@ashleynolan in that case Mocha would be my first choice, but I do agree with @nicbell that most people will be using Kickoff for the SASS side of things. I suppose adding a test framework is a nice way to stick to good practice, though, so may be worth adding in for that reason alone.

[2015-05-20 16:03] ashleynolan commented on #52
Ok – I think for me it’s about encouraging devs – whatever level – to adhere to best-practice when using the tools that Kickoff provides.

Testing has become a defacto now for JavaScript, but I think the barrier to entry is having the time to set it up and then write the tests.  If Kickoff can help with the setup side of things at least, hopefully it can help devs – much like the Browserify setup

[2015-05-20 16:13] munkychop commented on #52
Sounds good, although the barrier to entry is already fairly high (for noobs) in terms of running the generator vs a simple clone. I do agree that people should be guided in the direction of best practice, so for me it's worth doing purely from that perspective, although I think said guidance may be lost on people who already use the generator.

[2015-05-20 18:03] nicbell commented on #52
It really depends on what the purpose of Kickoff is. I mostly see it as a SASS framework, I tend to download Kickoff and delete a lot of stuff.

The rest of my workflow is dictated but the type of project I'm working on. Am I doing a separate front-end then integrating or am I coding straight into .net/php? Do I already have a local server? Is it angular? What testing frameworks do I need to hook

[2015-05-21 10:35] mrmartineau commented on #52
@nicbell you raise an interesting point. Should we make it easy for devs to just pull the scss part of the framework? This could simply be an additional question in the generator that only copies the scss folder.. what do you think?

[2015-05-21 10:38] ashleynolan commented on #52
If people are only going to use the SCSS, surely they’d just have a fork of Kickoff and do a copy/paste job?

Open to what others think on this though if we think it would genuinely be of use to those using the generator.

[2015-05-21 10:58] tommaton commented on #52
Me personally I've used Kickoff in multiple CMS's and frameworks (CQ5, AEM, Sitecore, Umbraco, ReactJS, AngualrJS, Assemble) of which some (even the CMS) have a js testing framework already built in and therefore wouldn't require a testing framework.

So to have the option to have a js test framework or not would be my preference.

[2015-05-21 11:02] mrmartineau commented on #52
Thanks @tommaton, this feature sounds like a generator question in my opinion..

[2015-05-21 12:24] ashleynolan commented on #52
Cool – sounds like it should definitely only be a feature branch and then included in the generator then.

Thanks for all your opinions :)

[2015-05-21 14:18] mrmartineau commented on #52
@ashleynolan do you want to take charge of this then?? :wink:

[2015-05-21 14:19] ashleynolan commented on #52
Yeh, thought that was implied ;)

I’ll assign to myself as a task to do at some point.

[2015-08-15 12:44] mrmartineau opened #53 "Sass: folder organisation change"
I would like to rename `scss/partials` to `scss/modules`, then remove the `components` directory and bring all the "components" `*.scss` into this new `modules` folder. I think it is confusing to have this differentiation when there is no obvious reason behind it (I know we (@ashleynolan & I)  discussed it at length a while back). Thoughts?

/cc @nicbell @munkychop

[2015-08-17 08:38] mrmartineau commented on #53
After a conversation with @nicbell, we think a structure similar to this might be more useful:

[code]

Here, components is now a top-level directory & everything else pretty much stays the same. Thoughts?

[2015-08-17 08:51] ashleynolan commented on #53
Yeh, I’d agree that I think components makes more sense as a folder name, simply as it’s more widely used in CSS terminology.  What is you’re thinking then as to what goes in components and what goes in partials with this split though?

One other thing that we’ve done in our setup of kickoff on JE here is to create a folder called base to keep the root directory of the SCSS folder as clean as poss

[2015-08-17 09:08] mrmartineau commented on #53
Regarding components vs partials vs views:

##### Components
Small, self-contained files that concern one type of thing, that crucially, **are reusable**. For example, lists, forms etc

##### Partials
Partials are partial parts of a page, like a masthead, sidebar or footer. They can have components inside them and **can also be reusable**.

##### Views
Used for entire views (or pages). Usually the

[2015-08-17 09:35] ashleynolan commented on #53
Those folder definitions make complete sense – that works for sure.

No problems re the base folder – it’s not something I feel particularly strongly about either way (especially as I use Cmd+P in Sublime anyway rather than actually using the folder structure), but it was the one thing people wanted to modify here when using the framework – they didn’t think it was clear enough where to start with

[2015-08-17 09:51] mrmartineau commented on #53
I agree that those 3 don't necessarily need to belong in the root but I don't know where to put them. I'm also reluctant to make a new folder just for 3 files..

[2015-08-17 09:53] mrmartineau commented on #53
@tommaton, @nicbell & @maciejgolis would you guys like to chime in?

[2015-08-17 10:22] rentodesign commented on #53
This new folder structure is much better. More intuitive.

Re `_helper-classes.scss`, `_print.scss` and `_reset.scss` how about putting them in `utils` folder or if extra folder is not great idea, put them in `functions` folder?

[2015-08-17 11:04] mrmartineau commented on #53
They aren't really functions IMO. Also the functions directory is reserved for Sass functions at the moment so I do not see the point in putting them in there..

[2015-08-17 14:02] ashleynolan commented on #53
Yeh, I agree, the `functions` folder should stay reserved for Sass functions, so it stays clear.

Utils could work – I guess `print` is strictly a view, so could make a case for that being located in that directory?

[2015-08-17 15:09] mrmartineau commented on #53
I thought `print` could go in views too, but I'm not sure about the others.. there is such a fine line between a useful folder structure and an intuitive folder structure..

[2015-08-18 09:17] ashleynolan commented on #53
I agree – we could just move `print` one as a start though, as I think this does make sense, and keep this open to discussion over other files in the root.

[2015-08-18 11:10] mrmartineau commented on #53
ok, will move print there in the next update

[2015-08-19 06:38] munkychop commented on #53
I totally agree that `components` should be a top-level directory, as that has always been a bit confusing to me. Also, `_print.scss` and `_styleguide.scss` should definitely live in `views`.
And I do personally think that having another top-level directory – such as `core` – to house everything else, would make for a neater structure.

[2015-08-21 21:50] fabzl opened #54 "When recently installed kickoff try to load the wrong script"
when I installed kickoff for the first time .
it tried to load this script :

assets/dist/js/script.js

when only this one was available:
 assets/dist/js/script.min.js

[2015-08-21 21:53] fabzl opened #55 "custom build name problem"
When create a custom build, everything is fine apart from the config that is still called KO.

KM = custom name
//initialise KM object
var KM = {};
KO.Config.init();

[2015-08-22 09:47] mrmartineau commented on #55
Hey @fabzl, are you using the Yeoman generator?

[2015-08-22 09:50] mrmartineau commented on #54
Hey @fabzl, are you saying that the `index.html` is wrong? Are you using the Yeoman generator?

[2015-08-24 10:56] mrmartineau opened #56 "Update latest version of normalize.css"
Normalize has been updated many times since we last updated it, so we should update it. I saw on the project [Github page](https://github.com/necolas/normalize.css) that it can be installed with npm, so I thought that we could ensure we always use the latest version if we add to `package.json` and then reference it in `_dependencies.scss`. This would be amazing but the lib would be in the `npm_mod

[2015-08-24 11:06] ashleynolan commented on #56
Agreed on the update – I’ve got no problems with it being installed as an NPM dependency either, think that’s definitely a good idea.

Not sure if you’d need to copy it over using a post script, as it’ll be clearer then that it’s a separate dependency if the path reflects this too?  I get that the path might be ugly, but if it never changes, then that shouldn’t matter really.

On a related note –

[2015-08-24 11:07] mrmartineau commented on #56
That's interesting, they include `box-sizing` like we do: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss#L20-L28. It's not a separate npm module though :disappointed:

[2015-08-24 11:10] ashleynolan commented on #56
Yeh, it’s only in Alpha atm – might become one when Bootstrap v4 gets released though.

[2015-08-24 11:24] mrmartineau commented on #56
After mostly error and a bit of trial, @nicbell suggested manually doing this because Normalize doesn't get updated very often. Too much effort for such a small gain..

[2015-08-24 11:24] #56 closed

[2015-08-24 13:29] mrmartineau commented on #53
Committed in https://github.com/TryKickoff/kickoff/commit/6d87f65aca93580b303884cb9389baa54689c231

[2015-08-24 13:29] #53 closed

[2015-08-24 15:58] mrmartineau opened #57 "Use Browserify by default?"
As the title suggests, do you think we should use Browserify as the default way to bundle javascript? We could keep the existing way in the Yeoman generator..

/cc @ashleynolan @nicbell

[2015-08-24 16:11] ashleynolan commented on #57
I’m still on the fence because of the reasons we came up with before when discussing it.

Pro–users should be able to use the recommended Yeoman generator, whereas chances are beginners won’t use the generator to get a build without dependency management.

If we can come up with a way that it can be easily taken out for people who don’t want it, then I’m all for it though, as I use Browserify as a

[2015-08-24 16:26] nicbell commented on #57
[At last](http://howafrica.com/wp-content/uploads/2015/02/drinking03-water-tap-ethiopia_13109_600x450.jpg)

[2015-08-24 16:32] YKehinde commented on #57
For smaller projects I tend to write all my script in one js file since there isn't a lot to do whereas some of the bigger projects i've been on, it might make sense to write the script in a much more modular way. I guess it's down to preference and whether the user will need it or not.

Being that I use Yeoman, I can make a choice between using browserify or not but someone pulling from the repo

[2015-08-24 16:39] ashleynolan commented on #57
@nicbell I completely get your point, but it does then make Kickoff more niche as a framework if we start hardwiring a specific dependency manager into it by default.

People who don’t use Browserify won’t use Kickoff, especially if they use RequireJS or a different dependency manager, as having to undo config is harder than adding it in usually.

By adding it in as a default, it starts making Kic

[2015-08-24 16:41] mrmartineau commented on #57
@ashleynolan the way I see it, is that *we are* pushing the Yeoman generator as the default way to use the framework, so if that's the case, then we should be safe to make the switch. I think Kickoff is not an entry-level framework anyway so I don't see a problem with it.

[2015-08-24 20:04] nicbell commented on #57
We have node, NPM, Grunt, SASS ect. For any developer using these tools is browserify actually a jump?

[2015-08-24 20:58] ashleynolan commented on #57
@nicbell You could just ignore all of those parts of the framework if you wanted to.  You could use the compiled CSS file, ignore the Grunt setup and use a tool like Codekit (if you wanted) and you wouldn’t have to change anything in the framework to do so.

I think if we make Browserify part of the default build, we have to make it so that it requires very little effort to not use it if people do

[2015-08-24 21:05] fabzl commented on #54
yes, as the index should load the minified version from dist . right ? ..

[2015-08-24 21:16] nicbell commented on #57
@ashleynolan same can be said for Grunt vs Gulp in Kickoff or the crazy image libs, the package.json has a long list of opinions.

[2015-08-24 21:25] fabzl commented on #55
yeap this .. line is  called .. :   KO.Config.init(); an it should KM ..
also I think the css file is called Kickoff in some places I cant remember exactly . tbh.

[2015-08-24 21:25] mrmartineau commented on #54
yeah, but what does it do now?

[2015-08-24 21:36] ashleynolan commented on #57
@nicbell Of course, but JS is fundamental to most front-end builds, whereas using Grunt isn’t – people can just ignore the build tool and it wouldn’t make any difference to them using the CSS or JS essentially if they had their own way of doing things.

If people didn’t want to use Browserify, they’d have to make their own JS file setup and add in their own concatenation step.  We obviously make o

[2015-08-24 22:09] mrmartineau commented on #57
I like your sentiment but I think as we evolve as developers, Kickoff should evolve too. What I like about Kickoff is that it represents a snapshot of what we deem to be the best workflow, for the widest array of projects, at a given point in time. At this point in time, using modules and npm as a package manager (and by extension Browserify) is the one of the best ways to manage JS.

Kickoff is o

[2015-08-26 10:19] mrmartineau commented on #55
Hi @fabzl, I have just pushed a fix for this in the [generator-kickoff](https://github.com/TryKickoff/generator-kickoff/commit/f9be19feac1e5dd03e772e0290945e7a281f9c55) repo

Thanks for raising the ticket.

[2015-08-26 10:19] #55 closed

[2015-08-27 14:08] twheel opened #58 "Bower error while installing"
Following the guide at http://trykickoff.github.io/learn/use.html , I get an error on the "Install Bower and its dependencies" step:

bower install
bower                           ENOENT No bower.json present

[2015-08-27 14:35] mrmartineau commented on #58
Ah, that's a bit of out-of-date content actually. We don't use bower at all anymore which is why its not working.. Hope that helps. I will fix the docs soon

[2015-08-27 14:35] #58 closed

[2015-08-29 10:39] fabzl opened #59 "changes on script.js not detected by browser sync"
When using yeoman version of kickoff.
Changes make to script JS. wont trigger browser sync.
According to me is probably related with grunt watch.
Any clues ?

[2015-09-04 08:46] mrmartineau commented on #57
Hey guys, I'd really like to resolve this today if possible. Please could you vote for your preference?

- Browserify [new]
- Concatination [existing]

My vote is for **Browserify**.

Please could @nicbell, @ashleynolan, @ciaranpark, @munkychop, @maciejgolis, @tommaton & anyone else chime in

[2015-09-04 09:11] ashleynolan commented on #57
I’m happy to go with the majority on this one :8ball:

[2015-09-04 10:19] nicbell commented on #57
Browserify isn't the big it change it's moving from concatenated files to modules.
I want to go with writing modular code and being to depend of third party modules via NPM.

Browserify is probably the best tool at the moment so that comes with this approach, the style will remain but there may be a better tool in 6 months.

[2015-09-04 10:42] CiaranPark commented on #57
It's a tricky one, but personally I'd like it included as default. Don't know what the statistics are on what type of users use generators vs cloning but can't see it being a negative having an option to require Browserify in Yeoman.

As long as the docs explain that if you don't want Browserify then use the generator then I think that covers all bases.

[2015-09-04 10:42] mrmartineau opened #60 "Next version of Kickoff"
Hey @ashleynolan & @nicbell, here's my list for the next version of Kickoff, please add any other things that you'd like. I don't think this is a v6, but probably a v5.1.0.. what do you think?

- [x] Switch to Browserify? see #57
 - [x] Switch to minifify in the Browserify build
 - [x] Remove `grunt-contrib-uglify`
 - [x] Remove `chotto` if we move to Browserify build is not needed anymore
- [x] A

[2015-09-04 11:18] mrmartineau commented on #57
@CiaranPark good idea, I looked at the stats and FWIW:

- generator npm installs: 2 downloads in the last day, 80 downloads in the last week, 674 downloads in the last month
- git clones: ~10 in the past month

[2015-09-04 11:19] ashleynolan commented on #57
Wow, so quite a lot more using the generator then, which is good news :+1:

[2015-09-04 11:26] mrmartineau commented on #57
indeed :100: :+1:

[2015-09-04 11:32] ashleynolan commented on #60
I think all of those sound like sensible things to move towards.  I’ll have a think if there’s anything else that might be worth adding.

Happy to pickup the Browserify stuff  – I’m on holiday for a few weeks from next Thursday, but can do it when I get back (unless someone else wants to do it before then).

[2015-09-04 13:40] mrmartineau commented on #60
We can handle the Browserify stuff. We (@nicbell & I) have a good setup on our current project so will port it over. We are using minifify instead of uglify btw.

[2015-09-05 05:39] munkychop commented on #57
Another vote for Browserify here, as modularity should be encouraged. In
the future, I think that using ES6 (i.e. something standard) would make the
most sense, when it has enough browser support.

On Friday, September 4, 2015, Zander Martineau <notifications@github.com>
wrote:

[2015-10-03 23:47] #57 closed

[2015-11-04 16:53] ashleynolan opened #61 "Look at defaults for tables"
Currently the defaults for tables aren’t all that sensible as they tend to be used without classes in content (especially if using a CMS as they are used for tabular content).

So, going to look at making the default styles for tables more useful – providing simple defaults that can be extended.

Will also update the docs once this work is complete.

[2015-11-05 23:43] mrmartineau opened #62 "Type sizing"
I saw on Dropbox's Scooter framework, that they have helper classes for type size. We have kind of have this at the moment with our headings:

[code]

What do you think of removing the helper classes from the above and making more generi classes like below:
[code]

We could even have this so it is made perfectly clear what sizes each element uses:

[code]

Which would ultimately look something lik

[2015-11-05 23:44] #54 closed

[2015-11-05 23:44] #59 closed

[2015-11-06 00:23] mrmartineau opened #63 "Shall we remove modernizr?"
Just as the title states? Shall we remove modernizr? I can't remember the last time I used it properly on a project. If you just need to do the `no-js/js` switch, there are better ways to do that. If people want it, they can add it themselves.. What do you think @munkychop @nicbell @ashleynolan @ciaranpark

[2015-11-06 07:30] munkychop commented on #63
Totally agree with removing Modernizr, as it's not something needed on every project and is very easy for people to add in themselves, if necessary.

[2015-11-06 08:48] nicbell commented on #63
+1 for removing it.

[2015-11-06 08:52] ashleynolan commented on #63
Think it should be removed from core, but should be in the generator as a question.

I use it mostly for flexbox fallbacks more than anything else now.

[2015-11-06 09:30] mrmartineau commented on #63
Ok, great. It will be removed. Cheers guys.

[2015-11-06 09:30] #63 closed

[2015-11-06 10:17] ashleynolan commented on #62
Not sure on this one – but I think it depends on how you think changing them would be useful.

Most of the time, the `.h1/.alpha` classes should be used for overriding the base header sizes.  By making them more generic, it’s encouraging more use of classes on elements outside of this to set font-size.

I’m unsure if this is a good thing or not – personally, I would rather people use the `$type-`

[2015-11-06 12:10] CiaranPark commented on #62
Agreed, I think we should try to enforce more rules on good typography and sizing. Allowing helper classes like this would perhaps mean lot's of shoe-horning of the design and weird font-sizing? I like it is currently, just need to be more strict with them personally.

[2015-11-06 12:16] mrmartineau commented on #62
@ashleynolan isn't this the case already? These would replace the `.h1` and `.alpha` to something that is more universal/able to be used on smaller sizes.

I like the idea of being able to give an element the font-size of an `h1` but not all it's other styling (margins etc). I also think that it more clearly shows users what each major element's font sizes are.

[2015-11-06 12:35] ashleynolan commented on #62
It’s the case for headers, for sure, but it would then become a larger issue with type-specific classes being used potentially for anything.  I think having header classes like `.h1`/`.alpha` isn’t ideal either, but it’s a common use-case and so solves a fixed problem.

I think it is making the markup more tightly coupled to a styling variable that is prone to change and could potentially cause is

[2015-11-06 12:37] mrmartineau commented on #62
OK, you make a good case, I do not think this is a good idea, but should we remove the `.h1` / `.alpha` classes then? Devs can add them if they need to..

[2015-11-06 13:40] ashleynolan commented on #62
I don’t mind – I guess it’s weighing up the usefulness versus the fragility of them.

I think they’re pretty useful just for header sizing, but if we think it’d be better to get rid of them – or at least one of them as I don’t think we need both in there – then that could be a good idea.

[2015-11-06 14:45] mrmartineau commented on #62
OK, @CiaranPark, what do you think?

[2015-11-09 09:12] mrmartineau commented on #61
Hi mate, can you look at this soon? I want to get the next version of Kickoff released this week :smile:

[2015-11-09 09:20] mrmartineau opened #64 "Releasing the next version - TODO"
Hi team (@nicbell & @ashleynolan), there are still a few things to do for the next version before it can be released.

- [x] Complete all tasks in #60
- [x] Port all changes to the generator, see https://github.com/TryKickoff/generator-kickoff/issues/10 for what's needed
- [x] Update any documentation on the trykickoff.com site.
 - I have made many improvements but I will need some help with the h

[2015-11-09 09:44] ashleynolan commented on #61
I’ve started work on it – just need to finish it off.  Should get something pushed tomorrow I’d have thought.

[2015-11-09 09:46] ashleynolan commented on #64
Doesn’t need to happen pre release, but I’ll need to update Statix with v6 once it’s finalised.  Just putting this in here as a note to myself to do so :shipit:

[2015-11-12 15:56] ashleynolan commented on #60
Will add back in the SCSS and JS linting tasks tomorrow as should have time to do so then

[2015-11-14 22:09] nicbell commented on #64
Do you need me to update block grids docs on trykickoff.com?

[2015-11-15 17:28] mrmartineau commented on #64
@nicbell I think I've done it, but it should all be double-checked.

[2015-11-16 20:12] jcoeklick opened #65 "imagemin: grunticon"
When running the build task, this error persists:

Running "imagemin:grunticon" (imagemin) task
Fatal error: Cannot read property 'contents' of undefined

Removing 'newer:imagemin:grunticon' from the 'icons' task allows the build to proceed.

npm cache clean && npm install grunt-contrib-imagemin was attempted but does not solve the problem.

[2015-11-16 20:15] #65 closed, assigned to nobody

[2015-11-16 20:17] #36 closed, assigned to ashleynolan

[2015-11-16 21:56] jcoeklick commented on #65
Thank you for the quick and helpful response.

To anyone else - this is what worked:

cd node_modules/grunt-contrib-imagemin
npm install imagemin@4.0.0

[2015-11-17 20:06] mrmartineau commented on #65
Thanks @jcoeklick. I think version 1.0.0 includes imagmin 4.0.0 as a dependency so if you update that it will update imagemin too.

Also, you should checkout our Twitter feed for the latest Kickoff news: https://twitter.com/trykickoff

[2015-11-17 20:11] mrmartineau commented on #60
@ashleynolan once you have made the linting changes, we should have a code freeze. Cool?

[2015-11-19 21:01] tommaton opened #66 "problem with current grunt-contrib-imagemin version in package.json"
Hi Guys,

It seems that there is a problem with the current grunt-contrib-imagemin, when you do a build it fails.

You'll need to upgrade the version from 0.9.4 -> 1.0.0 and then the grunt builds work again.

Tom

[2015-11-19 22:43] mrmartineau commented on #66
Hi @tommaton, we are aware of the issue & have fixed it in the imminent v6.0.0 release. I'm going to close this because dupe of #65

[2015-11-19 22:43] #66 closed

[2015-11-20 06:43] mrmartineau commented on #66
@tommaton have you seen the work we're doing for v6.0.0? the new generator can be installed using `npm i -g generator-kickoff@next` or the next branch here has everything too. We are very close to releasing it and would value your opinion.

[2015-11-20 13:52] tommaton commented on #66
@mrmartineau never saw the new version, I'll take a look as just starting a new project so will give it a go and give you any feedback I have.

[2015-11-20 14:56] ashleynolan commented on #66
@tommaton That’d be cool – we’re looking at releasing it early next week, so if you find any issues let us know :+1:

[2015-11-20 16:06] tommaton commented on #66
@mrmartineau @ashleynolan when updating the generator to v6 it still seems to be installing v5 when running the yo kickoff command.

I've uninstalled the generator, cleared the npm cache etc and then reinstalled.

Any ideas?

[2015-11-20 16:22] mrmartineau commented on #66
umm, not sure. Was going to suggest you uninstall. I am about to push another `@next` version very shortly so I'll respond again when I do. Sorry mate

[2015-11-20 16:47] mrmartineau commented on #66
Hi @tommaton, I have just published a new, tagged version of the generator. Please try installing it again..

[2015-11-20 22:29] tommaton opened #67 "When selecting statix in Yeoman generator missing comma in Gruntfile"
In V6 of Kickoff when using the Kickoff generator and choosing to use Statix a comma is missing from the complie task in the Gruntfile after images.
[code]

[2015-11-20 23:50] #67 closed

[2015-11-20 23:50] mrmartineau commented on #67
Thanks @tommaton, it has been fixed in v1.0.1 of the generator. FYI, generator-related issues should probably go in it's repo.

[2015-11-20 23:51] #60 closed

[2016-01-19 10:51] ashleynolan opened #69 "Issue with grunt-icon/NPM, causing error"
Grunt-icon seems to be causing issues when I go to `npm install` from a new Kickoff (and Statix) build.

I’m running node v5.4.1 and npm v3.3.12 (see included screengrab).

<img width="696" alt="screen shot 2016-01-19 at 10 45 22" src="https://cloud.githubusercontent.com/assets/805184/12416509/cd5e9946-be99-11e5-83d4-2a71e6c8768e.png">

It seems from a bit of hunting around online that this is an

[2016-02-02 15:18] ashleynolan opened #70 "Remove Placeholder Mixin"
The placeholder mixin was originally used because Autoprefixer didn’t add prefixes to `:placeholder` declarations.

This has since been fixed, so we should remove the placeholder mixin and test that Autoprefixer now adds this during the compile step.

See related issue that was [raised on the site repo](https://github.com/TryKickoff/trykickoff.github.io/issues/9).

[2016-02-06 07:10] #64 closed

[2016-02-06 07:11] #62 closed

[2016-03-11 19:24] mrmartineau opened #72 "Version 7 - TODO"
- [x] ES2015 by default using babel - most of this work has already been done in the [ES2015 branch](https://github.com/TryKickoff/kickoff/tree/es2015)
- [x] Eslint - switch to use eslint instead of jscs and jshint - most of this work has already been done in the [ES2015 branch](https://github.com/TryKickoff/kickoff/tree/es2015)
- [x] Flexbox - provide a good, flexbox-based alternative to the kick

[2016-03-11 19:52] ashleynolan commented on #72
I’m down with all of it – only thing I’d probably change is to drop IE8 support in Kickoff, but keep it in the generator as an option possibly?

In regard to the block grids, I’ve updated them on a current project to use Flexbox, which is pretty straightforward to do – I can make a branch for this to see what you think (I can do this next week, as I’m putting some time aside in work to do Statix a

[2016-03-12 09:13] mrmartineau commented on #72
Have a look at https://github.com/suitcss/components-grid/, it actually has many features that covers both block-grids and the standard grid, and then some.

As for dropping IE8, I think its time now. We could keep it in the generator as we currently do, but I'd even argue to get rid of it entirely. As a fallback, we could provide instructions on the trykickoff.com site to  show how support could

[2016-03-12 19:07] mrmartineau commented on #72
SuitCSS also have [suitcss/utils-flex](https://github.com/suitcss/utils-flex) which might be useful..test page can be found here: http://suitcss.github.io/utils-flex/test/

[2016-03-13 09:38] mrmartineau commented on #72
@ashleynolan & @nicbell I have created some branches for [flexbox](https://github.com/TryKickoff/kickoff/tree/flexbox-grid) ([see commits](https://github.com/TryKickoff/kickoff/commits/flexbox-grid)) and the removal of [old IE](https://github.com/TryKickoff/kickoff/tree/flexbox-grid) ([see commits](https://github.com/TryKickoff/kickoff/commit/e70ab083fb902897c773b0b85053e19664f454b0)). Please revi

[2016-03-13 10:15] mrmartineau commented on #72
Regarding the removal or replacement of Grunticon: I have been using SVG sprites a lot recently and feel that they are a perfect replacement.. Find out more at https://css-tricks.com/svg-sprites-use-better-icon-fonts/ and you can see them in use on [my site](http://martineau.tv).

Two grunt plugins for generating SVG sprites from a folder full of SVGs are:
* https://www.npmjs.com/package/grunt-svg

[2016-03-14 13:54] ashleynolan commented on #72
Re an image solution to replace Grunticon – I would lean towards not including an image solution at all (except tasks for minifying images and SVGs perhaps).

I think every project is completely different and every dev approaches images in very different ways, so as long as we make it easy for people to add a solution in (and make that clear), that’s the most important thing.  I think this is espe

[2016-03-14 14:49] ashleynolan opened #73 "Moving to Gulp"
Just putting this in to discuss any future work on our plans to try moving the framework over to use Gulp instead of Grunt.

I’ll be putting together a branch for this this week, so that we can see if there are any unforeseen things we need to address, but now GruntIcon is being removed from the project this should be a straightforward task.

[2016-03-14 17:44] mrmartineau commented on #72
ES2015 & ESLINT have been merged into [next branch](https://github.com/TryKickoff/kickoff/tree/next) now ([see commits](https://github.com/TryKickoff/kickoff/commits/next) :)

[2016-03-14 17:46] ashleynolan commented on #72
:beers: :tada:

[2016-03-15 12:31] nicbell commented on #72
Now I wont have to remove grunt icon every time.

[2016-03-15 13:20] mrmartineau commented on #72
@nicbell that's interesting. Do you think Kickoff have an icon solution?

[2016-03-17 10:39] ashleynolan opened #74 "KO FlexGrid"
Making a list of things we need to do to finish off the new KO Flex-Grid work:

- [x] Move `.no-flexbox` floats and other column specific properties onto `.g-col`
- [x] Remove `singleCol` breakpoint, as no longer needed
- [x] Add variable toggle for `.no-flexbox` support in older browsers
- [x] Add breakpoint based stacking classes to the grid
- [x] Take `default: 0 ` out of the breakpoints map an

[2016-03-17 17:46] mrmartineau commented on #72
Removal of old IE stuff has now been merged into [next](https://github.com/TryKickoff/kickoff/tree/next) [see commits](https://github.com/TryKickoff/kickoff/commit/5d66a4277cf03365106a9b30f7e6a2333b29e8e6)

[2016-04-05 15:56] ashleynolan commented on #74
Small update – I’ve implemented the new grid system as a branch on the JUST EAT Platform, as it should be a good test of it’s base functionality.

I’m currently testing this over the next couple of days and then should be able to get started on the docs and generator updates.

[2016-04-07 16:03] ashleynolan commented on #74
I’ve now added and tested the grid on JE – not a conclusive test, but it works well in IE8/9/10/11, Firefox and Chrome, as well as mobile browsers.

Going to move on to working on the docs next week now – should be able to do them and setup a bunch of use cases that can be tested then as well.  I’m happy with where the functionality is atm though :+1:

[2016-04-14 07:57] tajmone opened #78 "Broken link in Docs"
In Yeoman page:

http://trykickoff.com/learn/yeoman.html

point 7 of the list (`Use Kickoff Statix for static templating and rapid prototyping?`)

Link to Statix points to a "page not found":

http://trykickoff.com/kickoff/statix/

I've managed to reach the Statix page only out of context:

http://trykickoff.com/statix/

[2016-04-14 08:07] ashleynolan commented on #78
@tajmone Thanks for raising this – has now been fixed in [this commit](https://github.com/TryKickoff/trykickoff.github.io/commit/8e5ddf7e8a59ff571ebd118a8059a14fa5192e88).

I’ve pointed it to the Statix Github repo for now as the docs are currently being restyled (along with documentation updates to Kickoff’s docs for the upcoming v7).

[2016-04-14 08:07] #78 closed

[2016-04-26 15:05] ashleynolan commented on #74
Have done much more conclusive testing now – the new flexbox grid is running in production on JE now, and has been tested on pretty much everything I can think of.

Am currently moving the docs and test cases out of Kickoff main repo and into the docs site.  Hoping to get this finished in the next couple of days.  The grid should be ready to update in the generator now too though as it’s not going

[2016-04-26 16:17] mrmartineau commented on #74
@ashleynolan that's awesome! Do you have a link for where its being used on JE?

Do you think we ought to make it its own repo?

[2016-04-26 16:23] ashleynolan commented on #74
I was thinking about that, yeh.  Is there anyway we can automatically pull it back into kickoff if we do that (I’ve never used git modules so not sure if this would be a use case for them…).

It’s used in a few places on the homepage of the international sites ([so Canada for example](https://www.just-eat.ca/?opt=0a5674029)) as well as on all the account pages (although you need to login to see th

[2016-04-26 16:27] mrmartineau commented on #74
Do you mean git submodules? If so I think they're quite a pain in the arse. I have looked into this sort of thing in the past because I wanted a better way to update the generator since most of the time the `scss` folder is copied straight to the generator. I created https://github.com/TryKickoff/scss for just this purpose, so it could be shared with the generator and the main repo and be installe

[2016-04-26 16:29] ashleynolan commented on #74
Yeh, that’s what I was thinking as well – never had chance to actually look into it properly but always is a pain having to update in multiple places.

[2016-04-29 11:55] ashleynolan commented on #73
Will be making this a part of v8, as think it’s too big a change to get into v7.  Will start working on when get chance though now in a separate branch.

[2016-04-29 11:57] ashleynolan commented on #72
I’ve merged in the grid changes and have removed Grunticon – would be worth taking a look through and make sure I’ve caught all the references though.

That’s almost all the checklist done! 🚀

[2016-04-30 16:45] #70 closed

[2016-04-30 16:46] mrmartineau commented on #69
grunticon has now been removed as have all 'icon' related grunt tasks

[2016-04-30 16:46] #69 closed

[2016-04-30 17:20] mrmartineau commented on #74
@ashleynolan what do you think the generator question should be? we currently ask if <=IE8 needs to be supported, should we ask is IE9 should be too?

[2016-04-30 20:14] ashleynolan commented on #74
Generator for the flex-grid?  I guess "Would you like to provide fallback classes for non-flexbox supported browsers?"

Does that sound ok?

[2016-05-01 08:49] mrmartineau commented on #74
That's good, but I though this might be better:

[2016-05-01 09:25] ashleynolan commented on #74
That's good too :)

[2016-05-03 13:42] nicbell opened #88 "Error in styleguide.scss"
styleguide.scss line 211
[code]
Should be.
[code]
It's fixed on `next` branch but not on `master`.
It breaks the build of the styleguide. Should there be a patch release?

[2016-05-03 14:28] mrmartineau commented on #88
thanks, I found this recently. I think it is fixed in `next` branch already

[2016-05-03 14:38] ashleynolan commented on #88
Yeh, it is.  It’s caused by the latest node-sass updates in error reporting

[2016-05-03 16:24] nicbell commented on #88
@mrmartineau I hear it's fixed in the `next` branch.

[2016-05-11 11:15] denzBrade opened #92 "IE11 Printing Issue"
In the print styles:

[code]

Crashes IE 11 Print preview & blocks IE11 from printing at all

[2016-05-11 22:11] mrmartineau commented on #92
@denz-brade-2015 so this fixes the bug you've been trying to fix recently? It is strange that this is the solution because the base for Kickoff's print styles comes directly from [the HTML5 Boilerplate](https://github.com/h5bp/html5-boilerplate/blob/3855f43e7269dd910a76bd18d8b3bb7a51c8084d/src/css/main.css#L203), which still has that line in there.. I am happy to remove this. Fancy submitting a pu

[2016-05-12 09:17] mrmartineau commented on #92
For reference, [this is the commit when it was added to Kickoff](https://github.com/TryKickoff/kickoff/commit/b792362faffa92d6cc44537d86e278b7ebe608d3) (from September last year) and [this is the commit when it was added to H5BP](https://github.com/h5bp/html5-boilerplate/commit/fc05bc82abf26f4042c86a17652dd232362f78ad)

[2016-05-14 11:43] #92 closed

[2016-05-15 11:19] #74 closed

[2016-05-15 11:20] mrmartineau commented on #72
I think the only thing left to do is to merge all changes into the yeoman generator.. and double-check everything else..

[2016-05-16 08:18] ashleynolan commented on #72
Awesome 👍  I’m a bit pre-occupied this week as I’ve got a talk to finish by Friday, but reckon should be more than possible to test and release the new version by the end of next week?  Sound like a plan?

[2016-05-31 10:23] nicbell commented on #72
Now that we are using Babel, we should consider, https://babeljs.io/#polyfill instead of shimly.

Shimly does have the benefit of only shipping polyfills to old browsers. This could be solved by having more than one JS build with Babel. Two builds also means modern browsers could have different  presets using more native features rather than transpiled code. Thoughts?

[2016-05-31 10:24] mrmartineau commented on #72
@nicbell yes, I agree. Can you see if it can be easily integrated into Kickoff?

[2016-05-31 10:36] jpdriver commented on #72
@nicbell @mrmartineau not sure about browserify but integration looks super easy with webpack 😄
[code]

[2016-05-31 11:07] ashleynolan commented on #72
We use [polyfill.io](https://cdn.polyfill.io/v2/docs/) for our polyfills now - relies on an 3rd party CDN but we have a fallback shim script in case it ever were to go down.  Has the benefit of only ever serving up what is needed for the particular browser the user is using, so for latest chrome it’s extremely lightweight.

[2016-05-31 13:50] mrmartineau commented on #72
Polyfill.io looks amazing. Do we remove shimly in place of this?

[2016-05-31 14:00] ashleynolan commented on #72
Yeh, the way we do it is to hit the CDN, test if the script is returned and if it doesn’t for whatever reason, we load in a local script with a bunch of polyfills (we just save down a minified polyfill.io script with the polyfills we need switched on [like this](https://cdn.polyfill.io/v2/polyfill.min.js?features=default,console,fetch,promise&flags=gated,always)).

It’s a really nice service thoug

[2016-05-31 14:25] mrmartineau commented on #72
@nicbell has already removed shimly. @ashleynolan would you be able to add your test and fallback to a gist?

[2016-05-31 14:27] ashleynolan commented on #72
Yeh, we’re re-working this part at the moment (as the script we used was a bit cumbersome), but I’ll add it in once that’s done.

[2016-06-02 08:17] ashleynolan commented on #72
Where are we on the v7 release?  Don’t think the fallback stuff needs to go in for release (can add that as a point release).  Are there any other changes that need to be made now?

[2016-06-02 09:37] mrmartineau commented on #72
It needs testing by everyone again. Would @nicbell, @munkychop, @jpdriver, @tommaton and anyone else please test the next branch? See the [changelog](https://github.com/TryKickoff/kickoff/blob/next/changelog.md#700---21052016) for all the updates.

Also, Statix in the generator needs to be updated, no?

[2016-06-02 09:38] ashleynolan commented on #72
Probably – I’ll check it out today and see what needs updating in there

[2016-06-03 12:57] munkychop commented on #72
@mrmartineau I'm not able to use Kickoff much at the moment, but hoping to do so in the near future

[2016-06-09 06:41] mrmartineau commented on #72
v7 pushed! 🎉

[2016-06-09 06:41] #72 closed

[2016-06-09 06:41] #88 closed

[2016-08-15 13:25] mrmartineau opened #122 "kickoff-react"
@ciaranpark, @jpdriver, @denzBrade & I will be creating a Kickoff/react package. It will include all current components so they can be imported into any React project.

I would also like to extend the Yeoman generator so it can scaffold a simple React app, include **kickoff-react** and potentially react-router, redux and anything else that we deem useful.

More info and thoughts to come soon..

[2016-08-15 13:55] mrmartineau commented on #122
I've been looking at other React UI libraries for reference and https://github.com/callemall/material-ui looks to be very good. The project structure and DX would be something I'd like to emulate. Does anyone else have any suggestions?

[2016-08-15 13:56] mrmartineau commented on #122
New repo for this project: https://github.com/TryKickoff/kickoff-react. Further comms should probably be posted there...

[2016-08-17 15:09] nicbell opened #123 "Docs site down"
Sub pages on the docs site aren't showing.

[2016-08-17 15:19] mrmartineau commented on #123
can you open a ticket in @trykickoff/trykickoff.github.io?

[2016-08-17 15:19] #123 closed

[2016-08-17 15:20] mrmartineau commented on #123
BTW, I just setup siteleaf to manage the site, it appears to have done something weird..

[2016-08-17 15:42] mrmartineau commented on #123
@nicbell site fixed now btw

[2016-08-17 15:48] nicbell commented on #123
Looks good to me

[2016-08-18 10:50] mrmartineau opened #124 "Kickoff 8 checklist"
Kickoff 8 will introduce some fairly fundamental changes to the project without changing how developers use it.
## gulp

We are working on [switching the build tools to gulp](https://github.com/TryKickoff/kickoff/issues/73) (with the potential addition of webpack for javascript compilation). This new tooling affords quite a few other benefits, not least are how we compile our sass. I have created

[2016-08-18 11:24] ashleynolan commented on #124
Looks good 👍

The SASS importer looks interesting – guessing it’s the `npm-sass` module that does the magic? Does it mean that if someone imports the module as part of their project they would have to edit the file in the `node_modules` folder if they wanted to change those styles?  Just wondering how this would work in practice in terms of modifying the component styles.

Definitely agreed on the

[2016-08-18 14:29] mrmartineau commented on #124
Yes, `npm-sass` does the magic there but I am worried that importing many modules with it may reduce performance and slow build times, so we'd have to keep an eye on that. Currently my postcss-playground repo has 5 files and one imported from npm and takes <2s to complete..

[2016-08-18 14:33] ashleynolan commented on #124
Ok.  If someone downloaded Kickoff and wanted to add some buttons styles to the `_buttons.scss` file (just as an example, would the SCSS file be included in the `node-modules` folder if it was an npm module?  Or is there a way of installing it such that the SCSS file would be in the SCSS folder somewhere?

Just wondering how the structure of the SCSS would change (if at all).

[2016-08-18 15:04] mrmartineau commented on #124
Yes you're right, I hadn't thought of that.. perhaps it is only useful to transfer components that aren't likely to be modified like the grid. Forms probably would not be able to be a 3rd party dependency because of this unless we removed all styling from them and then created themes for the fields - something that is also very intriguing

[2016-08-22 11:21] ashleynolan commented on #124
Just as an aside that I thought about over the weekend – when we migrate this over to the generator, we’ll need to update the Statix config as well (as it works differently in Gulp to how it works in Grunt).

Shouldn’t be a big task but it’ll need checking when the generator gets looked at.

[2016-08-22 11:22] mrmartineau commented on #124
Is it worth moving it to gulp now so that it will be ready for the generator?

[2016-08-22 11:23] ashleynolan commented on #124
We already use Statix in Gulp for our docs at JE, so this should be pretty trivial.

[2016-09-17 14:19] mrmartineau opened #128 "Fix SVG minification"
SVG minification in the `next` branch is currently broken. I have seen a few issues, one of which seemed to remove actual items from the compressed code. This, of course, affects the new SVG icon sprite-sheet workflow. SVGO is probably to blame for this and I will investigate the various SVGO options to see if one of them is causing the error. It could also be due to strangely formatted SVG code i

[2016-09-17 14:21] mrmartineau opened #129 "Finalise SVG sizing & correct CSS workflow"
SVG sizing and styling has been a little problematic with the new SVG sprite-sheet icon workflow. There are still a few bugs to be ironed out.

[2016-09-17 14:25] mrmartineau opened #130 "Form themes"
Form themes will be introduced in version 8, there is work-in-progress code in the [`feature/form-themes`](https://github.com/TryKickoff/kickoff/tree/feature/form-themes) branch. My current plan is to provide a 'standard' theme that uses Kickoff's existing styles, and a basic Material theme that uses Google's Material Design as inspiration.

It is coming along quite nicely at the moment, but quite

[2016-09-17 14:29] mrmartineau opened #131 "Hot module reloading"
Version 8's serve task uses gulp, Webpack, Browsersync to serve a statix site and JS compilation. Hot module reloading is nearly setup but is not quite working at the moment.

[2016-10-10 17:17] ashleynolan commented on #124
Grid module has now been separated.  I’m going to pick up the statix tasks now, and if there’s anything specific you want me to test, let me know

[2016-10-11 08:43] mrmartineau commented on #124
@ashleynolan I tried the grid stuff this morning - it works perfectly. 👍

I also found a better [media-query mixin library](http://include-media.com) that we ought to use. I have created a [features/next_mixins](https://github.com/TryKickoff/kickoff/commit/9661d82656f7ecc4e4fa592c4f4f41f59da5f989). Syntax looks like the below and it even works with our `$breakpoints` sass map!

[code]

[2016-10-12 07:58] ashleynolan commented on #124
Just been looking through it and the source code – looks really nice implementation.

Only thing I can see that might be missing is whether it converts pixels to em units.  If it doesn’t do this, would this be something we could look to PR into the library?

[2016-10-12 08:45] mrmartineau commented on #124
@ashleynolan can you remind me of the specific reason we convert to ems? I have just looked at the source and see that it supports all units but I don't think it converts to ems.

[2016-10-12 08:47] mrmartineau commented on #124
@ashleynolan this article says we don't need to worry about it anymore because browsers are all consistent now: https://cloudfour.com/thinks/the-ems-have-it-proportional-media-queries-ftw/

[2016-10-12 08:48] ashleynolan commented on #124
Accessibility reasons –  [around zooming and default font sizes](https://zellwk.com/blog/media-query-units/).  There used to be a Chrome bug that warranted it as well, but that has been long fixed.

[2016-10-12 09:41] mrmartineau commented on #124
I have been chatting with the devs of `include-media` and I think I figured out a fix: see this comment: https://github.com/eduardoboucas/include-media/issues/93#issuecomment-253166723

[2016-10-12 11:18] ashleynolan commented on #124
Sounds good.  If we can resolve that issue, looks like it would be a great solution.  Been wanting a min-height mixin for a while so this would come for free with this too :)

[2016-10-12 12:21] mrmartineau commented on #124
@ashleynolan you may have seen that I submitted a PR to the grid so that it uses include-media as well. Have a look, try it out and let us know what you think

[2016-10-24 07:19] mrmartineau commented on #131
I have decided to remove HMR, so closing this ticket

[2016-10-24 07:19] #131 closed

[2016-10-24 13:06] CiaranPark opened #134 "Production build requires optional dependencies"
Currently within the index.js there is a mapping function that requires all gulp tasks and their package dependencies including --optional. When running the RELEASE build, the optional packages are not installed so it fails. We need a check for RELEASE and a separate dev require list, I'll make a Pull Request for my version soon

[2016-10-24 13:07] CiaranPark commented on #134
The map function mentioned

`
	tasks.forEach(task => {
		if (task.match(/\.js$/)) {
			require(`${tasksDirectory}/${task}`);
		}
	});`

[2016-10-24 13:13] mrmartineau commented on #134
As I previously mentioned, this bug could be fixed by moving all `optionalDependencies` items into the `devDependencies` object. I think we should keep the items in `optionalDependencies` so we can reduce build times on CI environments.

[2016-10-24 13:23] jpdriver commented on #134
is this something we would run into using the production version of `master` as it exists today too? looks like we use `load-grunt-tasks` at the moment anyway so wouldn't this hit pretty much the same issue?

see https://github.com/TryKickoff/kickoff/blob/master/Gruntfile.js#L26

[2016-10-24 13:44] mrmartineau commented on #134
@jpdriver we haven't experienced this before. I think the existing Grunt tasks aren't required-then-run, in the same way that we are using gulp for now.

[2016-12-31 17:00] #134 closed

[2016-12-31 17:01] mrmartineau commented on #134
FYI, decided to move all `optionalDependencies` into `devDependencies` so we don't need to worry about this bug.

[2017-01-04 15:42] rentorm commented on #128
Do you have mode details on this issue and how could I reproduce it?
Maybe you can share files which caused the issue and I could try to have a look.

[2017-01-04 16:05] mrmartineau commented on #128
@rentorm I experienced a few issues where some svg paths or even groups were being removed. I have not been able to find the issue. I should find the offending SVG, the TMW logo, and add to the ticket..

[2017-01-14 09:35] mrmartineau commented on #130
Form themes have now been merged into the main repo. Like I said before, we have our existing ['standard'](https://codepen.io/mrmartineau/pen/RKbGPO) theme a basic [Material design theme](https://codepen.io/mrmartineau/pen/QGwvdL).

Themes can be chosen from the `/assets/src/scss/components/forms/forms.scss` file, like so:

[code]

The markup for the input groups is slightly different for the Mate

[2017-01-14 09:35] #130 closed

[2017-01-14 09:50] mrmartineau commented on #124
FYI, this is our updated checklist for v8:

* [ ] Kickoff website review and amends: I have made many changes at https://trykickoff.now.sh and need the content to be reviewed and amended if need-be.
* [ ] The Yeoman generator needs to be updated with all the latest changes. This has mostly been done except for Statix, see below:
* [ ] The Statix updates need to be added to the generator
* [ ] The

[2017-01-14 09:55] ashleynolan commented on #124
Ok cool - good to have this. I started having a look through the repo yesterday. Will try and make a bit of time over the weekend to take a look over the site and generator too.

Will prioritise that first and then get onto the statix integration after that.

[2017-01-14 09:57] mrmartineau commented on #124
@ashleynolan :+1:

[2017-02-08 14:39] #129 closed

[2017-02-08 14:39] #128 closed

[2017-02-08 14:39] mrmartineau commented on #128
Turned out to be a malformed SVG source file..

[2017-02-08 14:39] #122 closed

[2017-02-08 14:40] mrmartineau commented on #124
v8.0.0 is ready. Gonna merge it in now..

[2017-02-08 14:40] #124 closed

[2017-02-08 15:00] #73 closed

[2017-03-13 22:07] RobDesideri opened #157 "Generated CSS file not respect the name given in config.js"
### Overview of the Issue
If you set the [config.css.distFile option](https://github.com/TryKickoff/kickoff/blob/master/.kickoff/config.js#L23), the builded css file keep the default 'kickoff.css' name.
### Motivation
Settings permit this options, but it isn't implemented.
### Kickoff Version
8.0.0
### Suggest a Fix
Insert in css.js task a simple pipeline operation renaming the kickoff file to the

[2017-04-25 08:17] mrmartineau commented on #157
Thanks @RobDesideri, I have just merged your PR #159 👍

[2017-04-25 08:17] #157 closed

[2017-05-14 06:04] DelanoJ84 opened #191 "TryKickoff is currently using the "Contributor Covenant", which is currently incompatible with its current membership"
I opened an issue on the Contributor Covenant repo observing that an active maintainer has promoted the use of violence to suppress journalists: https://github.com/ContributorCovenant/contributor_covenant/issues/393

I think we should give the Contributor Covenant team a chance to make their code of conduct compatible with their active maintainers before closing this issue and removing the CoC.

[2017-05-15 09:07] ashleynolan commented on #191
We use the contributor covenant conduct to hold the maintainers of our project accountable to the standards we expect in terms of respecting diversity and inclusion.

By removing this code of conduct, all we would be doing would be damaging this aim.

Closing this issue as I don’t think it’s particularly relevant.

[2017-05-15 09:07] #191 closed

[2017-05-24 10:15] ashleynolan opened #193 "Kickoff Builds"
Moving the build conversation out of the v9 conversation [here](https://github.com/TryKickoff/kickoff/pull/192).

[2017-05-24 10:19] ashleynolan commented on #193
@mrmartineau Just to address the last comment - I will already be maintaining a set of gulp build tasks [here](https://github.com/justeat/gulp-build-fozzie).  If we could create the webpack tasks in a similar way then we’d have two different setups being maintained.

With respect to the maintenance anyway, most of the build tasks should change less frequently than the rest of the project.  It tend

[2017-05-24 11:21] mrmartineau commented on #193
@ashleynolan the fozzie repo is still private btw. We could definitely create a installable setup, kind of like kickoff-scripts already does. Perhaps instead, we use a community effort like [Neutrino](https://neutrino.js.org) to manage this sort of thing.

With Neutrino, you install presets, there are official and community packages; see a list of community packages here: https://neutrino.js.org/p

[2017-05-24 11:29] ashleynolan commented on #193
@mrmartineau Should be open sourced this week, but it’s on [NPM currently](https://www.npmjs.com/package/@justeat/gulp-build-fozzie).  Basically it lets you pull in a set of gulp tasks and use those.  So the logical thing would be that we could do the same with the webpack tasks – create a `kickoff-build-webpack` module that is installed and then changing this out for a different set of tasks is v